body{
    font-family: Arial, sans-serif;
    background-color: #292a2d;  
    margin: 0;
    padding: 20px;
}
.container {
    margin-top: 2%;
    max-width: 1000px;
    background-color: #292a2d;
   
    overflow: hidden;
    margin-left: 18%;
}
.chat-header{
    text-align: center;
    color:white;
    padding:10px;
    font-size: 20px;
    font-weight: bold;
    width: 20%;
    margin-left: 10px;
}
.message{
    margin-top: 1%;
    width: 40%;
    background-color: rgb(28, 26, 26) ;
    padding: 10px;
    margin-bottom: 5%;
    border-radius: 10px;
    color: #BFA181  ;
}
.chat-messages{
    margin-left: 10px;
    margin-right: 10px;
}
button{
    background-color:rgb(28, 26, 26);
    color:white;
    padding:10px;
    border:none;
    border-radius:12px;
}
input{
    width:85%;
    height:30px;
    padding:10px;
    margin-top:10px;
    border:1px  #ccc;
    border-radius:20px;
    margin-left: 60px;
    background-color: rgb(66, 66, 66);
    color:white;
}
input::placeholder{
    color: white;  }    
.chat-input{
    margin-top: 200px;
    border-top: 1px black;
    background-color: #292a2d   ;
    padding: 5px;
    
}
.welcome{
    text-align: center;
    color: gray;
    padding:20px;
    font-size: 18px;
    padding-top: 50px;
    border-top: 1px solid gray;
}
.icon{
    font-size: 48px;
    margin-bottom: 10px;
}