body{
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 20px;
}
.container {
    max-width: 450px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    
}
.chat-header{
    text-align: center;
    color:white;
    background-color:#800000;
    padding:10px;
    font-size: 20px ;
}
.message{
    margin-top: 5%;
    background-color: #f1f1f1;
    padding: 10px;
    margin-bottom: 5%;
    background-color: #f8d7da;
    border-radius: 10px;
}
.chat-messages{
    margin-left: 10px;
    margin-right: 10px;
}
button{
    background-color:#800000;
    color:white;
    padding:10px;
    border:none;
    border-radius:12px;
}
input{
    width:70%;
    padding:10px;
    margin-top:10px;
    border:1px solid #ccc;
    border-radius:10px;
    margin-left: 10px;
    margin-right: 10px;
}
.chat-input{
    border-top: 1px solid black;
    background-color: #f0f0f0;
    padding: 5px;
}
